.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

composer.lock

assets/sk/*
!assets/sk/index.html

images/*
!images/index.html
!images/cover/index.html
!images/foto/index.html
!images/logo/index.html
!images/qrcode/index.html
!images/ttd/index.html

media_library/*
!media_library/index.html
!media_library/dokumentasi/index.html
!media_library/images/index.html
!media_library/posts/index.html
!media_library/pengesahan/index.html

vendor/
